body {
    color: black;
}
img{
    width: 10rem;
    height: 10rem;
}
.meal-instructions {
    display: none; /* Initially hidden */
  }
  .meal-instructions.show {
    display: block; /* Visible when 'show' class is present */
  }
  
.hidden-content{
    visibility: hidden;
    width: 10rem;
    height: 10rem;
    background-color: purple;
}
@media (min-width: 768px) {
    .hidden-content{
        visibility: visible;
    }
}